RewriteEngine on

FileETag MTime Size

<IfModule mod_headers.c>
# 1 YEAR
<FilesMatch "\.(ico|pdf|flv)$">
	Header set Cache-Control "max-age=29030400, public"
</FilesMatch>
# 1 WEEK
<FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
	Header set Cache-Control "max-age=604800, public"
</FilesMatch>
</IfModule>

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault A0
ExpiresByType image/x-icon A2592000
ExpiresByType application/x-javascript A3600
ExpiresByType text/css A604800
ExpiresByType image/gif A604800
ExpiresByType image/png A604800
ExpiresByType image/jpeg A604800
ExpiresByType text/plain A300
ExpiresByType application/x-shockwave-flash A604800
ExpiresByType video/x-flv A604800
ExpiresByType application/pdf A604800
ExpiresByType application/xml A1800
</IfModule>



RewriteRule ^login$ /login.php [nc]
RewriteRule ^staff$ /staff.php [nc]
RewriteRule ^register$ /register.php [nc]
RewriteRule ^contact$ /contact.php [nc]
RewriteRule ^newsletter$ /newsletter.php [nc]

RewriteRule ^offers$ /products.php?offers=true [nc]
RewriteRule ^products$ /products.php [nc]
RewriteRule ^products/page/([0-9]+)$ /products.php?offset=$1 [nc]

RewriteRule ^brand/([a-z0-9-_]+)$ /products.php?brand=$1 [nc]
RewriteRule ^brand/([a-z0-9-_]+)/page/([0-9]+)$ /products.php?brand=$1&offset=$2 [nc]

RewriteRule ^category/([a-z0-9-_]+)$ /products.php?category=$1 [nc]
RewriteRule ^category/([a-z0-9-_]+)/page/([0-9]+)$ /products.php?category=$1&offset=$2 [nc]

RewriteRule ^product/([a-z0-9-_]+)$ /prod.php?seo=$1 [nc]
RewriteRule ^page/([a-z0-9-_]+)$ /texts.php?seo=$1 [nc]
RewriteRule ^course/([a-z0-9-_]+)$ /course.php?seo=$1 [nc]